<html>
    <head>
      <link rel="stylesheet" href="/static/style.css" />
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
  
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ['Date', 'Price'],
            ['January',  0.7353],
            ['February',  0.7637],
            ['March',  0.7541],
            ['April',  0.7498],
            ['May',  0.7454],
            ['June',  0.7424],
            ['July',  0.7625],
            ['August',  0.7566],
            ['September',  0.7495],
            ['October',  0.7551],
            ['November',  0.7601],
            ['December',  0.752],
          ]);
  
          var options = {
            title: 'Canadian dollar to US dollar daily exchange rate in 2019',
            curveType: 'function',
            legend: { position: 'bottom' },
            vAxes: {
          0: {title: 'Exchange Rate'},
        },
        hAxes: {
          0: {title: 'Month'},
          },
          series: {
            0: { color: '#32CD32' }
          }
          };
  
          var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
  
          chart.draw(data, options);
        }
      </script>
    </head>
    <body style="background-color: #24252A;">
      <header>
        <nav>
            <ul class="nav__links">
                <li><a href="/">Home</a></li>
                <li><a href="/google-charts/line-chart_2017">2017</a></li>
                <li><a href="/google-charts/line-chart_2018">2018</a></li>
                <li><a href="/google-charts/line-chart_2019">2019</a></li>
                <li><a href="/google-charts/line-chart_2020">2020</a></li>
                <li><a href="/about">about</a></li>
            </ul>
        </nav>
    </header>
      <div id="curve_chart" style="width: auto; height: 550px"></div>
    </body>
  </html>
  