<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #24252A;">
    <header>
        <nav>
            <ul class="nav__links">
                <li><a href="/">Home</a></li>
                <li><a href="/google-charts/line-chart_2017">2017</a></li>
                <li><a href="/google-charts/line-chart_2018">2018</a></li>
                <li><a href="/google-charts/line-chart_2019">2019</a></li>
                <li><a href="/google-charts/line-chart_2020">2020</a></li>
                <li><a href="/about">about</a></li>

            </ul>
        </nav>
    </header>
    <div class="head">
        <br>
        <h1 class="headertekst">Hello This is BDAT_1004 Data Programming</h1>
        <h2>This is our final Project</h2>
        <br>
        <h2>Here are the details of our team Member:</h2><br>
        <img src="static/Milind_Tank.jpg" style="width:10%;margin-left:45px;margin-top:15px"/>
        <h2>Milind Tank : 200505407@student.georgian.on.ca</h2>
        <h2>Bachelors in Information Technology</h2><br>
        <img src="static/Tin.png" style="width:10%;margin-left:45px;margin-top:15px"/>
        <h2>Tin Srimake : 200502936@student.georgianc.on.ca</h2>
        <h2>Bachelors and Master in Environment field</h2><br>
        <img src="static/Artem.jpg" style="width:10%;margin-left:45px;margin-top:15px"/>
        <h2>Artem Safarian : 200504711@student.georgianc.on.ca</h2>
        <h2>B.A. Business and Society</h2><br>
        <img src="static/Krishna.png" style="width:10%;margin-left:45px;margin-top:15px"/>
        <h2>Krishna Chaitanya Reddy Alla : 200511205@student.georgianc.on.ca</h2>
        <h2>Bachelors in Information Technology</h2>
    </div>
</body>
</html>